**.DS_Store**
**duckdb**
*.csv
*.git
*.ipynb_checkpoints
*.pyc
*.pyd
*.pyo
*.pytest_cache
*__pycache__
*bin
*io.py*
*neuron
.Python
__pycache__
env
lib
model.ckpt
src/data
src/notebooks
src/training_data
