# Data files
bin/*
lib/
.DS_Store
.ipynb_checkpoints
output*

# Docker Compose Override for arm64 arch
docker-compose.override.yml

# Models
src/notebooks/sentence-transformers/*
data/
sentence-transformers
src/training_data/


#logs
*.log
logs/

# User-specific stuff
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
