Flask==2.2.2
GitPython==3.1.32
duckdb==0.7.1
evaluate
fakeredis
gitdb==4.0.10
gunicorn
locust==2.15.1
markdown2
mkl
mkl-include
onnx
optimum[exporters,onnxruntime]==1.9.1
pandas==1.5.3
pyarrow==12.0.0
pytest-mock
redis==4.5.3
sentence_transformers==2.2.2
-f https://download.pytorch.org/whl/torch_stable.html
torch==2.0.1+cpu
tqdm==4.64.1
transformers
