boto==2.49.0
Flask==2.2.2
GitPython==3.1.32
duckdb==0.7.1
fakeredis==2.19.0
gitdb==4.0.10
gunicorn==21.2.0
markdown2==2.4.10
mkl==2023.2.0
mkl-include==2023.2.0
onnx==1.14.1
optimum[exporters,onnxruntime]==1.9.1
pandas==1.5.3
pyarrow==12.0.0
pytest-mock==3.11.1
redis==4.5.3
sentence_transformers==2.2.2
-f https://download.pytorch.org/whl/torch_stable.html
torch==2.0.1+cpu
tqdm==4.64.1
transformers
Werkzeug==2.2.2
